.home-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.reservation-section {
  flex: 1;
  min-width: 250px;
}

.room-gallery-section {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
